/AppNet/nbproject/private/
/appPatronAdapter/target/
/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/build/
/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/nbproject/private/
/Interfaces GESTOR DE TAREAS_DISEÑO DE PATRONES/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/build/
/Interfaces GESTOR DE TAREAS_DISEÑO DE PATRONES/GESTOR DE TAREAS_DISEÑO DE PATRONES amochi/nbproject/private/
/Interfaces GESTOR DE TAREAS_DISEÑO DE PATRONES/build/
/Interfaces GESTOR DE TAREAS_DISEÑO DE PATRONES/nbproject/private/
/AppNet/build/
/AppTaskFlow/target/
